

.contenedor_absoluto_login{
    position: absolute;
    /* margin-left: 40px; */
    margin-top: 60px;
    background-color: white;
    height: 100vh;
    width: 60%;

}

.contenedor_absoluto_signup{
    position: absolute;
    margin-left: 700px;
    margin-top: 40px;
    background-color: white;
    height: 100vh;
}

.aside{
    height: 100vh; 
    width: 500px; 
    z-index: 337777333;
    background-image : url('../pics/blue.png');
    background-size:cover;
    /* background: rgb(91,186,213); */
    /* background: linear-gradient(0deg, rgba(91,186,213,0.8323704481792717) 0%, rgba(49,177,230,1) 100%); */
}

.animacion_login{
    animation-name: cambio;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.animacion_signup{
    animation-name: cambioSign;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes cambio {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(850px);
    }
}

@keyframes cambioSign {
    0%{
        transform: translateX(850px);
    }
    100%{
        transform: translateX(0);
        
    }
}

.login_titulo{
    color: #2d8ecf; 
    margin-left: 300px;
    font-size: 40px;
    margin-top: 50px;
}

.signup_titulo{
    color: #2d8ecf; 
    margin-left: 30px;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.login_center{
    margin-left: 270px;
    margin-top: 20px;
}

.login_button{
    width: 40px; 
    height: 40px; 
    border: 1px solid black; 
    border-radius: 50%;
    background-color: #fff; 
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.login_button > img{
    width: 22px;
    margin-top: 5px;
}

.primer_button{
    margin-left: 100px;
}

.login_contenedor_inputs{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login_input{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(236, 236, 236);
}

.login_input::placeholder {
   font-size: 15px;
}

.login_input{
    padding-left: 20px;
    font-size: 15px;
}

 .login_input:focus{
    border: none;
    outline: none;
 }

 .login_input_error{
    border: 1px solid red;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding-left: 20px;
    font-size: 15px;
 }

 .login_input_error:focus{
    outline: none;
 }

 .login_button_ingresa{
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: #93b7ec; 
    cursor: pointer;
 }

 .login_p_contraseña{
    color: grey;
    margin-left: 50px;
    margin-bottom: 20px;
 }

 .login_p_mail{
    color: grey;
    margin-left: 30px;
 }

.display_none{
    display: none;
}

.login_button_error{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    background-color: white;
    font-size: 2.3vh;
    margin-top: 15px;
    margin-left: 8px;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #2d8ecf;
    margin-left: -50px;
  }

  .load-3{
    margin-left: 220px;
    margin-top: 40px;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }

  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* ---------------------botones aside-------------------- */

  .botonesAnimation{
    width: 100px;
    height: 32px;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 20px;
    color: white;
  }