.Nav_contenedor{
    width: 100%;
    height: 100px;
    background-color: rgb(226, 209, 212);
}

.Nav_contenedor li{
    list-style-type: none;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}

.Nav_contenedor li:hover {
    border-bottom: 1px solid black;
}


.Nav_contenedor ul{
    display: flex;
    flex-direction: row;
   padding-top: 15px;
}