.Nav_contenedor{
    width: 100%;
    height: 80px;
}

.Nav_contenedor li{
    list-style-type: none;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}

.Nav_contenedor li:hover {
    border-bottom: 1px solid black;
}


.Nav_contenedor ul{
    display: flex;
    flex-direction: row;
   padding-top: 15px;
   margin-left: 160px;
}

.contenedor_searchbar{
    display: flex;
    margin-top: 20px;

}

.contenedor_searchbar input{
    margin-left: 200px;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 30px;
   
}

.contenedor_searchbar input:focus{
    border: 1px solid black !important;
    outline: none;
}

.contenedor_searchbar input::placeholder{
    padding-left: 10px;
}

.contenedor_searchbar button{
    background-color: inherit;
    border: none;
    outline: none;
    position: absolute;
    margin-left: 795px;
    margin-top: 5px;
    border-left: 1px solid black;
    padding-left: 10px;
}

.searchbar_icons_perfil{
    margin-left: 280px;
    /* opacity: 0.5; */
    margin-top: 10px;
}

.searchbar_icons_corazon{
    /* opacity: 0.5; */
    margin-left: 25px;
    margin-top: 10px;
}

.searchbar_icons_carrito{
    margin-left: 25px;
    margin-top: 10px;
    filter: brightness(5%); 
}

.nav_logo{
    width: 100px;
    position: absolute;
    top: 2px;
    margin-left: 20px;
}


.nav_mini_carrusel{
    padding-top: 5px;
    color: white;
    /* animation-name: minicarrusel;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    display: flex;
    flex-direction: row; */
}

.nav_contenedor_mini_carru{
    height: 30px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    -webkit-animation: scroll 160s linear infinite;
    animation: scroll 160s linear infinite;
    display: flex;
    flex-direction: row;
    width: calc(500px * 14);
    animation-direction: alternate-reverse;
}
/* //_----------------------------------- */

/* @keyframes minicarrusel {
    0%{
        transform: translate(1000px);

    }
    100%{
        transform: translate(0px);

    }
} */


@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }